* {
    background-color: black; /*might have to adjust this to the html doc*/
  }

  div {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: 'Libre Baskerville', serif;
    color: white;
  }

  img {
    border: 5px solid white;
    width: 100%;
  }

  h1 {
    text-transform: uppercase;
  }
